[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
uvicorn = "*"
spotipy = "*"
python-decouple = "*"
black = "*"
psycopg2 = "*"
sqlalchemy = "*"
alembic = "*"
fastapi = {extras = ["all"], version = "*"}
loguru = "*"

[dev-packages]

[requires]
python_version = "3.10"
